#pms-map{
    width: 100% !important;
    height: 700px !important;
}

.te-draw-radius-button{
    top: 2%;
    right: 3%;
}

.te-draw-radius-button a{
    font-weight: 500;
}

.te-draw-radius-button .te-icon-draw, .te-draw-radius-button .te-icon-radius{
    font-size: 19px;
}

.te-draw-radius-button a:hover{
    background-color: #3a3a3a !important;
    color: white !important;
}

.te-draw-radius-button a:hover .te-icon-draw, .te-draw-radius-button a:hover .te-icon-radius{
    color: white !important;
}