@charset "utf-8";
/* CSS Document */
html {background:#fff !important}
/* Hide WP menus */
#wpadminbar, #adminmenuwrap, #adminmenuback, #wpfooter	{display:none}
html.wp-toolbar {padding:0}
.auto-fold #wpcontent {margin-left:0}

/* Property Details */
.pro-details						{width:98%; margin:3% 0 1%;}
.pro-details h2						{margin-bottom:1%;}
.pro-details-box					{ padding:1% 0; border:1px solid #ededed; overflow:hidden; margin-bottom:1%}
.pro-details-box label				{ color:#222; float:left; display:block; width:22%; margin: 3px 2% 3px 1%;}
.pro-details-box span				{ color:#555; background:#ededed; float:left; display:block; width:20%; margin: 3px 1%; padding: 2px 2px 2px 10px;}
.pro-description					{ margin:0; color:#444; text-align:justify; word-break:break-all; margin-bottom:1%}
.pro-location						{ border:4px solid #eee; clear:both; overflow:hidden;}

.pro-details .map-holder {height:390px;overflow:hidden; background:url("../images/ajax-loader.gif") no-repeat scroll center center transparent; width:100%}
.pro-details .map-holder img {max-width:none !important;}