
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8c8c8c !important;
  font-size: 13px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #8c8c8c !important;
  font-size: 13px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #8c8c8c !important;
  font-size: 13px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #8c8c8c !important;
  font-size: 13px;
}


@media (min-width: 1441px) {
	.te-search-btn-group{
		width: 75% !important;
	}
}