/*-------new schedule showing----*/



.request-detail-title {
    font-size: 1.6rem;
    font-family: unset;
}
.te-request-detail {
    border: none !important;
    border-radius: 8px;
}

#frmSchedule input{
    border-bottom: unset !important;
}
#frmSchedule input{
    border: 1px solid #dee2e6   !important;
    padding: 8px 10px 8px 10px !important;
    height: 45px;
}
#frmSchedule textarea {
    border: 1px solid #dee2e6   !important;
    padding: 8px 10px 8px 10px !important;
    height: 100px;
}
.setbgcolor{
    background-color: rgba(0,0,0,.03) !important;
}

.sub-text{
    opacity: 0.6 !important;
    font-weight: 300;
}

@media (min-width: 901px) and (max-width: 1024px){
    #contact_us{
        padding: 10px 30px 10px 30px;
        font-size: 13px;
    }
}

.link-section ul{
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}

.link-section ul li{
    display: inline-block;
    position: relative;
    float: left;
    text-align: center;
}

/*------Image-Gallery-section--------*/

.single-property-gallery-container {
    position: relative;
}

.single-property-gallery > figure {
    float: left;
    width: 25%;
    position: relative;
    height: 310px;
    margin: 0;
    overflow: hidden;
    border: 1px solid #fff;
}
.single-property-gallery > figure.sp-gallery-main-img {
    width: 50%;
    height: 620px;
}
.te-property-card {
    height: 268px;
}
.single-property-gallery > figure > a {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
}
.single-property-gallery > figure:hover > a {
    transform: scale(1.05, 1.05);
}

.te-pd-gallery-view-more{
    bottom: 21%;
    right: 21%;
}

@media (max-width: 1440px) {

    .single-property-gallery > figure.sp-gallery-main-img {
        height: 584px;
    }

    .single-property-gallery > figure {
        height: 292px;
    }

    .te-pd-gallery-view-more{
        right: 20%;
    }
}
@media (max-width: 1280px) and (max-height: 800px) {

    .single-property-gallery > figure.sp-gallery-main-img {
        height: 490px;
    }

    .single-property-gallery > figure {
        height: 245px;
    }

    .te-pd-gallery-view-more {
        right: 19%;
    }
    .price-detail-section{
        margin-left: 6rem !important;
    }
}

@media (max-width: 900px) {

    .single-property-gallery > figure {
        height: 225px;
        width: 50%;
    }

    .single-property-gallery > figure:nth-child(4),
    .single-property-gallery > figure:nth-child(5) {
        display: none;
    }

    .single-property-gallery > figure.sp-gallery-main-img {
        height: 450px;
    }

    .te-heading-property-details-features button h5{
        font-size: 14px;
    }

    .te-heading-property-details-features button p{
        font-size: 12px;
    }

    .te-gutter-colum{
        -webkit-column-count: initial;
        -moz-column-count: initial;
        column-count: initial;
    }

    .te-pd-all-features-main-title{
        font-size: 18px;
    }

    .te-pd-gallery-view-more{
        right: 15%;
    }
    .pdetail-no-img{
        height: 225px;
    }

}


@media (max-width: 760px) {

    .single-property-gallery > figure.sp-gallery-main-img {
        height: 356px;
    }

    .single-property-gallery > figure {
        height: 178px;
    }

    .te-property-details-full .te-card .card-body ul li {
        width: 100% !important;
    }
    .te-pd-gallery-view-more {
        right: 31%;
    }

    .pdetail-no-img{
        height: 356px;
    }
    #send-massage{
        width: 100% !important;
        margin-left: 0;
    }
}

.pswp__caption__center{
    text-align: center !important;
}

.et_pb_row.et_pb_row_0{
    padding: 0 !important;
}
.float-child {
    width: 33%;
    float: left;
    padding: 10px;
    padding-top: 15px;
    font-size: 1em;
    text-align: center;
    color: #000000b0;
    /*background-image: linear-gradient(108deg,#a0a0a069 75%,transparent 50%);*/
    /*background-color: #000;*/
}

.float-child1 {
    width: 67%;
    float: left;
    padding: 16px 16px 16px 0;
    /*background-color: #000;*/
}

.child1-head{
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
}

.button_link_color{
    /*background-color: #a0a0a069 !important;*/
    color: #FFFFFF;
    font-size: 15px;
}
.button_link_color:hover{
    color: black;
}

.Row {
    display: table;
    width: 33%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

@media (max-width: 1024px)  {
    .float-child1 {
        padding: 16px 16px 16px 5px;
    }
}

@media (min-width: 780px) and (max-width: 990px)  {
    #send-massage{
        width: 35% !important;
    }
}
@media (min-width: 780px) and (max-width: 830px)  {
    .float-child1 {
        padding: 16px 16px 16px 5px;
    }
}
@media (min-width: 990px)  {
    #send-massage{
        padding: 15px 30px !important;
        width: 30% !important;
    }
}


#send-massage{
    padding: 15px 40px ;
    font-size: 14px;
    justify-content: center;
    /*width: 30% !important;*/
    margin: auto;
    display: flex;
}

#send-massage:hover{
    background-color: white !important;
    color: #000;
}

.et_pb_section.et_pb_section_0.et_section_regular {
    padding: 1px !important;
}

.ul-info ul{
    list-style-position: inside;
}

.det-info{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: 16px;
}

.det-info .info-border{
    border-right: 1px solid #8080805c !important;
}

.det-info .info-border p{
    margin-right: 10px;
    margin-left: 10px;
}

.det-info p{
    margin-left: 10px;
    padding: 10px !important;
    font-weight: 600;
}

#img1, #img2, #img3{
    max-width: 54px !important;
}

.float-child, .float-child1{
    height: 85px;
}

.map-embeded{
    line-height: 0 !important;
}
